ul li{
    border: 1px solid #ccc; 
 }

ul li:hover {
    border: 1px solid #777;
 }

div.gallery img {
    width: 100%;
    height: auto;
 }

 * {
    box-sizing: border-box;
 }

.clearfix:after{
    padding: 0 6px;
    /*float: left;*/   
 }

.container ul li{
    list-style: none;
    display: inline-block;
 }

 .computers h2 {
   text-align: center;
   color: #000;
 }

body {
   color: #000;
 }

 .credits {
    text-align: center;
 }

.credits p {
    color: #000;
    text-decoration: none;
 }

.credits a:link {
   color: #000;
   text-decoration: none;
 }

.credits a:visited{
   color: #000;
   text-decoration: none;
 }

 .credits a:active{
   color: #000;
   text-decoration: none;
 }

 .credits a:hover{
   color: #00CED1;
   text-decoration: none;
 }

 #btn {
    width: 200px;
    height: 60px;
    position: relative;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #00CED1 ;
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
 }

#btn::before{
   color: white;
   font-family: sans-serif;
   content: 'Refresh it';
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 20px;
   transition: all 0.5s;
}

#btn:hover:before{
   top: -30px;
}

#btn::after{
   font-family: 'Ionicons';
   content: '\f3a8';
   font-size: 40px;
   color: #fff;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   transition: all 0.5s;
   top: 140%;
}

#btn:hover::after{
   top:50%;
}

 @media only screen and (max-width: 700px){
    .grid {
        width: 49.99999%;
        margin: 6px 0;
     }
 }

 @media only screen and (max-width: 500px){
    .grid {
        width: 100%;
     }
 }